<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <script>
         window.watsonAssistantChatOptions = {
           integrationID: "9082fac4-8e4e-40fc-81a5-583995b4d42d", // The ID of this integration.
           region: "au-syd", // The region your integration is hosted in.
           serviceInstanceID: "fb1ad98b-b087-4b31-95f2-b28590b850e4", // The ID of your service instance.
           onLoad: function(instance) { instance.render(); }
         };
         setTimeout(function(){
           const t=document.createElement('script');
           t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
           document.head.appendChild(t);
         });
       </script>
      <meta charset="utf-8">
      <title>HOME</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="home.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
         <div class="logo" >
            University Admit Eligibility Predictor
         </div>
         &ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;
         &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
         <div class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/about">About</a></li>
         </div>
         
      </nav>

            <div class="dataset">
              <form action="/predict" method="POST">
                <fieldset>
                  <p class="label">GRE Score:</p>
                  <input type="text" id="gscore" name="GRE_Score" required>
                
                  <p class="label">TOEFEL Score:</p>
                  <input type="text" id="tscore" name="TOEFEL_Score">
               
                  <p class="label">University Rating:</p>
                  <input type="text" id="u_rate"       name="u_rate" required>
                
                  <p class="label">SOP:</p>
                  <input type="text" id="sop"  name="sop" required>

                  <p class="label">LOR:</p>
                  <input type="text" id="lor"  name="lor" required>
        
                 <p class="label">CGPA:</p>
                 <input type="text" id="cgpa"  name="cgpa" required>
                  
                  <p class="label">Research:</p>
                  <input type="radio" id="yes" value="1" name="Research" required><label class="light" for="yes">Yes</label>     &ensp;&ensp;&ensp;&ensp;
                  <input type="radio" id="no" value="0" name="Research" required><label class="light" for="no">No</label><br>
                 
                  
                 </fieldset>

                
                <input type="submit" class="button" value="Predict">
          
               </form>
                </div>
              </div>
      </div>

   </body>
</html>