<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>RESULT</title>
      <link rel="stylesheet" href="home.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
         <br> <br> <br> <br> <br>
         <p class="res"> Your chance of getting admit in this University is: </p>
         <div class="dataset">
            <form action="/" method="GET">
                
                <p class="result">
                    {{predict}}
                 </p>
                 
                 <div class="rbutton">
                 <input type="submit" class="button" value="Back" />
                </div>
             </form>
              </div>
         
            
      </body>
   </html>